.header__lang-item {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
}

.header__lang-item:first-of-type {
    margin-right: 18px;
}

.header__lang-item:hover {
    opacity: .8;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__lang-item {
        font-size: 18px;
        line-height: 20px;
    }
}