.header__lang-item {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.17;
    color: #fff;
    text-decoration: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.header__lang-item:first-of-type {
    margin-right: 18px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__lang-item {
        font-size: 18px;
        line-height: 1.11;
    }
}