.place__paragraph {
    margin: 0 0 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}

.place__paragraph:last-of-type {
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .place__paragraph {
        margin: 0 0 27px;
    }
}