.lead__caption {
    margin: 8px 0 0;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .lead__caption {
        margin: 8px 0 0 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .lead__caption {
        margin: 8px 0 0 24px;
    }
}