.cover__title {
    display: block;
    grid-row: 1/-1;
    grid-column: 1/-1;
    align-self: end;
    max-width: 560px;
    margin: 0 auto;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    line-height: 1.06;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.cover__title:hover {
    opacity: .9;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}