.cover__title {
    margin: 0 auto;
    max-width: 560px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    line-height: 1.06;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
    }
}